@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #111;
    color: #fff;
}

header {
    z-index: 999;
    font-family: "Poppins", sans-serif;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    transition: 0.5 ease;
}

header .brand {
    text-transform: uppercase;
    color: #2a6ea5;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

header .brand:hover {
    color: #fff;
    transition: 0.5s;
}

header .navbar {
    position: relative;
}

header .navbar .nav-itens a {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navbar .nav-itens a:before {
    content: '';
    transition: 0.3s ease;
    position: absolute;
    background: #2a6ea5;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
}

header .navbar .nav-itens a:hover:before {
    width: 100%;
}


header .logo img{
  font-size: 3rem;
  color: #2a6ea5;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  justify-content: left;
  justify-content: flex-start;
  max-width: 60px;
  
}

.logo:hover{
    transform: scale(1.1);
    color: #2a6ea5;
}

nav a{
    font-size: 1.8rem;
    color: #fff;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #2a6ea5;
    border-bottom: 3px solid #2a6ea5;
}



@media (max-width: 995px) {
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #2a6ea5 ;
        border-bottom: 3px solid #2a6ea5;
        border-bottom-left-radius: 2rem;
        padding: 1rem ;
        background-color: #1b1b1b;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #2a6ea5;
    }
    
}



section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;

}



.home{
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1,h3{
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

span{
    color: #2a6ea5;

}

.home-content p{
    font-size: 1.6rem;
}



.home-img{
    border-radius: 50%;
}

.home-img img{
    
    width: 28vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #2a6ea5;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{

    transform: scale(1.1);
    font-size: 1.8rem;
    font-weight: 500;
    box-shadow:  0 0 25px #2a6ea5,
    0 0 50px #2a6ea5,
    0 0 75px #2a6ea5,
    0 0 100px #2a6ea5
    ;
       
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent ;
    border: 0.2rem solid #2a6ea5;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #2a6ea5;
}

.social-icons a:hover{
    color: black;
    background-color: #2a6ea5;
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px #2a6ea5;
    
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color:#2a6ea5;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #2a6ea5;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.03);
    background-color: #2a6ea5;
    color: #111;
    box-shadow: 0 0 25px #2a6ea5;
}

.project h1 {
  
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;

    }




@media (max-width: 1000px) {
    .home{
        gap: 4rem;
    }
}

@media (max-width:995px){
    .home{
        flex-direction: column;
    }
    .home-content{
        font-size: 5rem;
    }

    .home-img img{
        width: 40vh;
        margin-top: 4rem;
    }


}


